.App {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.input {
  width: 500px;
  height: 40px;
  border: 2px solid rgb(0, 138, 108);
  font-size: 30px;
  color: rgb(0, 69, 52);
}

.btn {
  width: 200px;
  height: 45px;
  border: none;
  background-color: rgb(2, 75, 87);
  color: aquamarine;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}